body {
    font-family: 'Mukta', sans-serif;
    background-color: #96b8f2;
    color: white;

}


.imagewrapper {

    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;

}

.imagewrapper img {
    margin: 0 0 0 -75px;
}
    

@font-face {
    font-family: RealGipsy;
    src: url("real-gipsy/Real\ Gipsy\ -\ Personal\ Use.otf") format("opentype")
    
}
h1 {
    font-family: 'RealGipsy', Arial, Helvetica, sans-serif;
    font-size: 75px;
    color: white;
}

.ethiopia-header {
    display: flex;
    color: white;
}

.ethiopia-flag {
    align-self: center;
    margin: 5px;
}

ol{
    color: white;
}

